.homePage {
  display: flex;
  width: 100%;
  height: 5.5rem;
  background: white; }
  .homePage .avatar {
    flex: 1; }
    .homePage .avatar img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin-left: 1rem;
      position: relative;
      top: .7rem; }
  .homePage .name {
    flex: 4;
    line-height: 2rem;
    position: relative;
    top: .8rem;
    margin-left: 1rem; }
    .homePage .name .memberName {
      font-size: 1.2rem;
      font-weight: 300; }
    .homePage .name .memberDesc {
      font-size: .9rem;
      font-weight: 300;
      color: #888; }
